<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="stil.css" />
        <title>
            Makeup Shop
        </title>
    </head>
    <body>
        <div class="grid-kontejner">

            <header class="header">
                <div class="logo">
                    <button onclick="otvoriMeni()">&#9776;</button>
                   <a href="index.html" >MAKEUP SHOP</a> 
                </div>
                <div class="meni">
                    <a href="korpa.html">KORPA</a>
                    <a href="prijava.html">PRIJAVA</a>
                </div>
            </header>
           
            <aside class="sidebar">
                <div class="close1">
                    <span  onclick="zatvoriMeni()" class="close" title="Zatvori">&times;</span>
                </div>
                <h3 class="kategorije">KATEGORIJE</h3>
                <ul class="kategorije-lista">
                    <li>
                        <a href="index.html">Oči</a>
                    </li>
                    <li>
                        <a href="index.html">Lice</a>
                    </li>
                    <li>
                        <a href="index.html">Usne</a>
                    </li>
                    <li>
                        <a href="index.html">Nokti</a>
                    </li>
                    <li>
                        <a href="index.html">Četkice za šminkanje</a>
                    </li>
                </ul>
            </aside>

            <div id="Pocetna">


                <div >
                    <img class="pocetna-slika" src="slike/slika.jpg">  
                </div>
            <main class="main" id="1">
                <div class="main-sadrzaj">

                    <h2 class="proizvodi-naslov">PROIZVODI</h1>
                    <ul class="proizvodi">

                        <li>
                            <div class="proizvod">
                                <img class="slika-proizvoda" src="slike/slika4.jpg" alt="proizvod">
                                <div class="naziv-proizvoda">
                                    <a href="proizvod.html">Paleta sjenila za oči Makeup Revolution Forever Flawless Optimum</a></div>
                                <div class="brend-proizvoda">Revolution</div>
                                <div class="cijena-proizvoda">25 KM</div>
                                <div class="ocjena-proizvoda">4 Stars (10 komentara)</div>

                            </div>
                        </li>

                        <li>
                            <div class="proizvod">
                                <img class="slika-proizvoda" src="slike/slika1.jpg" alt="proizvod">
                                <div class="naziv-proizvoda">
                                    <a href="proizvod.html">Paleta rumenila Sweet Peach Glow</a></div>
                                <div class="brend-proizvoda">Too Faced</div>
                                <div class="cijena-proizvoda">75 KM</div>
                                <div class="ocjena-proizvoda">4.5 Stars (10 komentara)</div>

                            </div>
                        </li>
                        <li>
                            <div class="proizvod">
                                <img class="slika-proizvoda" src="slike/slika5.jpg" alt="proizvod">
                                <div class="naziv-proizvoda">
                                    <a href="proizvod.html">Paleta sjenila za oči Makeup Revolution Forever Flawless Unconditional Love</a></div>
                                <div class="brend-proizvoda">Revolution</div>
                                <div class="cijena-proizvoda">25 KM</div>
                                <div class="ocjena-proizvoda">4.5 Stars (7 komentara)</div>

                            </div>
                        </li>

                        <li>
                            <div class="proizvod">
                                <img class="slika-proizvoda" src="slike/slika3.jpg" alt="proizvod">
                                <div class="naziv-proizvoda">
                                    <a href="proizvod.html">Paleta sjenila za oči Lilac You a Lot</a></div>
                                <div class="brend-proizvoda">Colourpop</div>
                                <div class="cijena-proizvoda">22 KM</div>
                                <div class="ocjena-proizvoda">4 Stars (11 komentara)</div>

                            </div>
                        </li>

                        <li>
                            <div class="proizvod">
                                <img class="slika-proizvoda" src="slike/slika2.jpg" alt="proizvod">
                                <div class="naziv-proizvoda">
                                    <a href="proizvod.html">Tečni ruž za usne Lux Can You Even</a></div>
                                <div class="brend-proizvoda">Colourpop</div>
                                <div class="cijena-proizvoda">15 KM</div>
                                <div class="ocjena-proizvoda">4.5 Stars (11 komentara)</div>

                            </div>
                        </li>

                        <li>
                            <div class="proizvod">
                                <img class="slika-proizvoda" src="slike/slika6.jpg" alt="proizvod">
                                <div class="naziv-proizvoda">
                                    <a href="proizvod.html">Četkice za šminkanje Artist Essentials</a></div>
                                <div class="brend-proizvoda">Real Techniques</div>
                                <div class="cijena-proizvoda">35 KM</div>
                                <div class="ocjena-proizvoda">5 Stars (5 komentara)</div>

                            </div>
                        </li>

                        <li>
                            <div class="proizvod">
                                <img class="slika-proizvoda" src="slike/slika4.jpg" alt="proizvod">
                                <div class="naziv-proizvoda">
                                    <a href="proizvod.html">Paleta sjenila za oči Makeup Revolution Forever Flawless Optimum</a></div>
                                <div class="brend-proizvoda">Revolution</div>
                                <div class="cijena-proizvoda">25 KM</div>
                                <div class="ocjena-proizvoda">4 Stars (10 komentara)</div>

                            </div>
                        </li>

                        <li>
                            <div class="proizvod">
                                <img class="slika-proizvoda" src="slike/slika1.jpg" alt="proizvod">
                                <div class="naziv-proizvoda">
                                    <a href="proizvod.html">Paleta rumenila Sweet Peach Glow</a></div>
                                <div class="brend-proizvoda">Too Faced</div>
                                <div class="cijena-proizvoda">75 KM</div>
                                <div class="ocjena-proizvoda">4.5 Stars (10 komentara)</div>

                            </div>
                        </li>
                        <li>
                            <div class="proizvod">
                                <img class="slika-proizvoda" src="slike/slika5.jpg" alt="proizvod">
                                <div class="naziv-proizvoda">
                                    <a href="proizvod.html">Paleta sjenila za oči Makeup Revolution Forever Flawless Unconditional Love</a></div>
                                <div class="brend-proizvoda">Revolution</div>
                                <div class="cijena-proizvoda">25 KM</div>
                                <div class="ocjena-proizvoda">4.5 Stars (7 komentara)</div>

                            </div>
                        </li>

                        
                    </ul>
                </div>
               
            </main>

            <footer class="footer">
                <div>
                    <ul class="horizontalna_lista_footer">
                        <li><a target="_blank" href="https://bs-ba.facebook.com/" ><img class="ikonice"  src="slike/fb.png" /></a></li>
                        <li><a target="_blank" href="https://twitter.com/"><img class="ikonice"  src="slike/tw.png"/></a></li>
                        <li><a target="_blank" href="https://www.instagram.com/?hl=hr"><img class="ikonice"  src="slike/inst.png" /></a></li>
                    </ul>
                </div>
                <div>
                    Copyright &copy; 2020 |Makeup Shop
                </div>
                <div>
                    <a href="#1" ><img src="slike/up.png" class="povratak"/></a>
                </div>
            </footer>
        </div>

        <script>
            function otvoriMeni(){
                document.querySelector(".sidebar").classList.add("open");
            }
            function zatvoriMeni() {
                document.querySelector(".sidebar").classList.remove("open")
             }
        </script>
    </body>
</html>